<div class="chart-container">
    <app-chart>
        <app-chart-series type="area"
            [data]="data$ | async"
            [style]="style"
            [range]="range">
        </app-chart-series>
        <app-chart-x-axis
            [range]="range.x"
            [ticks]="ticksX">
        </app-chart-x-axis>
        <app-chart-y-axis
            [range]="range.y"
            [ticks]="ticksY">
        </app-chart-y-axis>
        <app-chart-plot
            [margin]="margin">
        </app-chart-plot>
    </app-chart>
</div>

{{data$ | async}}