:host {
    font-size: 20px;
    font-family: "Proxima Nova Regular";
    letter-spacing: 1px;
}

.chart {
    &-container {
        max-width: 1500px;
        height: 700px;
    }
}

.logo {
    width: 50px;
    height: 50px;
    margin-bottom: 5.5px;
    display: inline-flex;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}