<div style="display: flex;align-items:center">
    <div class="logo logo-chelsea"></div> Total points each season from 1996 to 2019
</div>
<div class="chart-container">
    <app-chart>
        <app-chart-x-axis
            [range]="range.x"
            [ticks]="ticksX">
        </app-chart-x-axis>
        <app-chart-y-axis
            [range]="range.y"
            [ticks]="ticksY">
        </app-chart-y-axis>
        <app-chart-series
            type="area"
            [data]="data$ | async"
            [style]="style"
            [range]="range">
        </app-chart-series>
        <app-chart-plot
            [margin]="margin">
        </app-chart-plot>
    </app-chart>
</div>