.chart-popup {
    position: absolute;
    overflow: visible;
    margin-left: 0;
    margin-right: 0;
    left: 0;
    top: 0;
    pointer-events: none;
    display: block;
    border-bottom: 5px solid white;
    background-color: white;
    font-size: 12px;
    font-family: "Proxima Nova";
    text-align: left;
    min-width: 250px;
    min-height: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -105%); // IE
    // transform: translate(-50%, calc(-100% - 5px)); // Chrome

    &:after {
        content: '';
        pointer-events: none;
        position: absolute;
        display: block;
        text-align: center;
        width: 0px;
        margin-left: 0px;
        top: 50%;
        left: 50%;
        bottom: 0;
        border: 10px solid transparent;
        border-bottom: 0;
        border-top: 15px solid white;
        transform: translate(-50%, 100%);
    }

    dl {
        width: 100%;
        padding: 16px;
    }

    dt {
        float: left;
        width: 112px;
        padding-bottom: 8px;
        margin-left: 16px;
        font-family: "Proxima Nova";
        font-size: 12px;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 0.2px;
        color: #000;
        position: relative;
    }

    dd {
        float: left;
        padding-bottom: 8px;
        font-family: "Proxima Nova";
        font-size: 12px;
        width: 80px;
        line-height: 1.5;
        letter-spacing: 0.2px;
        font-weight: normal;
        color: #000;
    }
}

.chart-popup-xl {
    width: 250px;
    min-height: 190px;

    dl {
        width: 100%;
        // padding: 16px;
        margin: 0;
    }

    dt {
        float: left;
        width: 112px;
        padding-bottom: 8px;
        margin-left: 16px;
        font-family: "Proxima Nova";
        font-size: 12px;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 0.2px;
        color: #000;
        position: relative;
    }

    dd {
        float: left;
        padding-bottom: 8px;
        font-family: "Proxima Nova";
        font-size: 12px;
        width: 80px;
        line-height: 1.5;
        letter-spacing: 0.2px;
        font-weight: normal;
        color: #000;
    }

    .kf-chart-indicator-low,
    .kf-chart-indicator-medium,
    .kf-chart-indicator-high {
        position: absolute;
        left: -16px;
        top: 6px;
        width: 8px;
        height: 8px;
        border-radius: 8px;
    }

    .kf-chart-indicator-low {
        background: #94c31a;
    }

    .kf-chart-indicator-medium {
        background: #f7a704
    }

    .kf-chart-indicator-high {
        background: #e00c50
    }

    &-title {
        font-family: "Proxima Nova";
        text-transform: uppercase;
        font-size: 12px;
        padding: 17px 16px;
        letter-spacing: 1.5px;
        font-weight: bold;
        width: 100%;
        border-bottom: 0.5px solid rgba(145, 145, 145, 0.3);
        margin: 0;
    }
}
