<div class="container">
  <app-chart>
    <app-chart-series
      type="radial-tree"
      [layout]="layoutType"
      [data]="data"
      [style]="style"
      [links]="linkStyle"
      [selection]="selection"
      (selectionChange)="onSelectionChange($event.currentValue)">
    </app-chart-series>
    <app-chart-breadcrumb
      [path]="breadcrumb"
      (selectionChange)="onBreadcrumbSelectionChange($event)"
      [selection]="selection"
      [format]="formatBreadcrumb">
    </app-chart-breadcrumb>
  </app-chart>
</div>
