:host {
  font-size: 20px;
  font-family: "Proxima Nova Regular";
  letter-spacing: 1px;
}

.chart {
  &-container {
    max-width: 1400px;
    height: 750px;
  }
}

select {
  width: 100px;
  padding: 5px;
  margin: 0 10px;

  option {
    font-size: 14px;
  }
}

.dropdowns {
  display: flex;
  margin-bottom: 7.5px;
}

h5 {
  margin: 0;
}

.radio-btn-group,
.checkbox-btn-group {
  display: flex;
  max-width: 1500px;
  height: auto;
  align-content: space-between;
  flex-wrap: wrap;

  .radio,
  .form-check {
    max-width: 300px;
    height: 50px;
    margin: 5px;

    label {
      background: #fff;
      border: 1px solid #ddd;
      padding: 0.5rem 1.25rem;
      border-radius: 5px;
      cursor: pointer;
      color: #444;
      transition: box-shadow 400ms ease;
      font-size: 12px;
    }

    input[type="radio"],
    input[type="checkbox"] {
      display: none;
    }
  }
}

.form-check {
  &-arsenal {
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      background: #dd0000;
      color: #fff;
    }
  }

  &-bournemouth {
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      background: #ed1c24;
      color: #fff;
    }
  }

  &-brightonhovealbion {
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      background: #005daa;
      color: #fff;
    }
  }

  &-burnley {
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      background: #80bfff;
      color: #fff;
    }
  }

  &-cardiffcity {
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      background: #0000ff;
      color: #fff;
    }
  }

  &-chelsea {
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      background: #034694;
      color: #fff;
    }
  }

  &-crystalpalace {
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      background: #bbbdbf;
      color: #fff;
    }
  }

  &-everton {
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      background: #274488;
      color: #fff;
    }
  }

  &-fulham {
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      background: #000000;
      color: #fff;
    }
  }

  &-huddersfieldtown {
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      background: #192552;
      color: #fff;
    }
  }

  &-leicestercity {
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      background: #0053a0;
      color: #fff;
    }
  }

  &-liverpool {
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      background: #dc3912;
      color: #fff;
    }
  }

  &-manchestercity {
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      background: #6caddf;
      color: #fff;
    }
  }

  &-manchesterunited {
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      background: #e80909;
      color: #fff;
    }
  }

  &-newcastleunited {
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      background: #a8996e;
      color: #fff;
    }
  }

  &-southampton {
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      background: #ed1a3b;
      color: #fff;
    }
  }

  &-tottenhamhotspur {
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      background: #182433;
      color: #fff;
    }
  }

  &-watford {
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      background: #fbee23;
      color: #fff;
    }
  }

  &-westhamunited {
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      background: #7f0000;
      color: #fff;
    }
  }

  &-wolverhamptonwanderers {
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      background: #fdb913;
      color: #fff;
    }
  }

  &-astonvilla {
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      background: #670e36;
      color: #fff;
    }
  }

  &-norwichcity {
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      background: #00a650;
      color: #fff;
    }
  }

  &-sheffieldunited {
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      background: #ee2737;
      color: #fff;
    }
  }
}

.buttons {
  padding-top: 10px;
}
