app-chart {
  height: 700px;
  width: 1000px;
}

select {
  width: 100px;
  padding: 5px;
  margin: 0 10px;

  option {
    font-size: 14px;
  }
}

.radio-buttons {
  display: flex;
  align-items: center;
  margin-left: 10px;

  > div {
    margin-right: 10px;
  }
}

.logo {
  width: 25px;
  height: 25px;
  margin-bottom: 7.4px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.dropdowns {
  display: flex;
  margin-bottom: 7.5px;
}

h5 {
  margin: 0;
}

.container {
  display: inline-flex;
}

.logos {
  width: 20px;
  padding-top: 22px;
}
