<div class="dropdowns">
  <div style="display: flex;align-items: center;">
    <h5>ENGLISH PREMIER LEAGUE SEASON </h5>
    <select
      [(ngModel)]="selectedSeason"
      (change)="onSeasonChange(); updateData(inputScored.checked, inputConceded.checked)">
      <option
        *ngFor="let season of seasons;"
        [value]="season"
        [selected]="season === 19">
        {{ getSeason(season) }}
      </option>
    </select>
    <h5>GOALS STATISTICS: </h5>
  </div>
  <div class="radio-buttons">
    <div>
      <input
        #inputScored
        type="checkbox"
        checked="true"
        (change)="updateData($event.target.checked, inputConceded.checked);">
      Scored
    </div>
    <div>
      <input
        #inputConceded
        type="checkbox"
        (change)="updateData(inputScored.checked, $event.target.checked);">
      Conceded
    </div>
  </div>
</div>

<div class="dropdowns">
  <div style="display: flex;align-items: center;">
    <h5>SORT BY </h5>
    <select
      #selectSortBy
      [(ngModel)]="selectedSortBy"
      (change)="onSortChange(); updateData(inputScored.checked, inputConceded.checked)">
      <option
        *ngFor="let sort of sorts; let i = index"
        [value]="sort"
        [selected]="sort === 'Position'">
        {{ sort | uppercase }}
      </option>
    </select>
  </div>
</div>

<ng-container>
  <div class="container">
    <div class="logos">
      <ng-container *ngFor="let club of (clubs$ | async)">
        <div [ngClass]="getLogo(club.club)"></div>
      </ng-container>
    </div>

    <app-chart>
      <app-chart-series
        type="bar"
        orientation="horizontal"
        [data]="data$ | async"
        [style]="style"
        [range]="range"
        (selectionChange)="check()">
      </app-chart-series>
      <app-chart-series
        type="grid"
        [step]="gridStep"
        [style]="gridStyle"
        [range]="range">
      </app-chart-series>
      <app-chart-x-axis
        [range]="range.x"
        [ticks]="ticksX">
      </app-chart-x-axis>
      <app-chart-y-axis
        [range]="range.y"
        [ticks]="ticksY"
        reverse="true">
      </app-chart-y-axis>
      <app-chart-plot [margin]="margin"></app-chart-plot>
    </app-chart>
  </div>
</ng-container>
