:host {
  font-size: 20px;
  font-family: "Proxima Nova Regular";
  letter-spacing: 1px;
}

.item {
  display: inline-block;
  height: 220px;
  width: 250px;
  margin: 5px;
}

.title {
  width: 200px;
  padding-top: 5px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stats {
  justify-content: space-between;
}

.chart {
  width: 200px;
  height: 200px;

  &-container {
    width: 100%;
    height: auto;
  }

  &-title {
    font-weight: 600;
    padding-bottom: 15px;
    font-family: "Courier New", Courier, monospace;
    padding-right: 50px;
    display: flex;

    > div:first-child {
      padding-right: 50px;
    }

    > div:nth-child(2) {
      width: 15px;
      height: 15px;
      background-color: #709a28;
      margin-right: 20px;
    }

    > div:nth-child(3) {
      width: 15px;
      height: 15px;
      background-color: #f7a704;
      margin: 0px 20px;
    }

    > div:nth-child(4) {
      width: 15px;
      height: 15px;
      background-color: #c23612;
      margin: 0px 20px;
    }
  }
}
