:host {
  font-size: 20px;
  font-family: "Proxima Nova Regular";
  letter-spacing: 1px;
}

.chart {
  &-container {
    max-width: 1500px;
    height: 700px;
  }
}

.radio-btn-group,
.checkbox-btn-group {
  display: flex;
  max-width: 1500px;
  height: auto;
  align-content: space-between;
  flex-wrap: wrap;

  .radio,
  .form-check {
    max-width: 300px;
    height: 50px;
    margin: 5px;

    label {
      background: #fff;
      border: 1px solid #ddd;
      padding: 0.5rem 1.25rem;
      border-radius: 5px;
      cursor: pointer;
      color: #444;
      transition: box-shadow 400ms ease;
      font-size: 12px;
    }

    input[type="radio"],
    input[type="checkbox"] {
      display: none;
    }
  }
}

.form-check-1 {
  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    background: #3366cc;
    color: #fff;
  }
}

.form-check-2 {
  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    background: #dc3912;
    color: #fff;
  }
}

.form-check-3 {
  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    background: #ff9900;
    color: #fff;
  }
}

.form-check-4 {
  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    background: #109618;
    color: #fff;
  }
}

.form-check-5 {
  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    background: #990099;
    color: #fff;
  }
}

.form-check-6 {
  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    background: #0099c6;
    color: #fff;
  }
}

.form-check-6 {
  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    background: #dd4477;
    color: #fff;
  }
}

.form-check-7 {
  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    background: #66aa00;
    color: #fff;
  }
}

.form-check-8 {
  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    background: #b82e2e;
    color: #fff;
  }
}

.form-check-9 {
  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    background: #316395;
    color: #fff;
  }
}

.form-check-10 {
  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    background: #994499;
    color: #fff;
  }
}

.form-check-11 {
  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    background: #22aa99;
    color: #fff;
  }
}

.form-check-12 {
  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    background: #aaaa11;
    color: #fff;
  }
}

.form-check-13 {
  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    background: #6633cc;
    color: #fff;
  }
}

.form-check-14 {
  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    background: #e67300;
    color: #fff;
  }
}
.form-check-15 {
  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    background: #8b0707;
    color: #fff;
  }
}
.form-check-16 {
  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    background: #5574a6;
    color: #fff;
  }
}
.form-check-17 {
  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    background: #3b3eac;
    color: #fff;
  }
}

.displayNone {
  display: none;
}
