<div class="container">
    <div>
        <div class="chart-title">
            <div>ENGLISH PREMIER LEAGUE 2018/2019 BALL POSSESSION</div>
            <div></div>&#8805; 55%
            <div></div>&#8805; 50%
            <div></div>&#60; 50%
        </div>
        <div class="chart-container">
            <app-chart>
                <app-chart-series type="bar-progress" [data]="data" [animation]="true" [style]="style" label="start">
                </app-chart-series>
                <app-chart-ticks [data]="clubs"></app-chart-ticks>
            </app-chart>
        </div>
    </div>
</div>