<div class="chart-container">
  <app-chart>
    <app-chart-series
      type="sunburst"
      [data]="data"
      [style]="style"
      [selection]="selection"
      (selectionChange)="onSelectionChange($event.currentValue)">
    </app-chart-series>
    <app-chart-popup for="sunburst">
      <ng-template let-$context>
        <div class="popup">
          <div class="popup-header">
            <ng-container *ngIf="$context.data.logo">
              <div [ngClass]="getLogo($context.data.name)"></div>
            </ng-container>
            <h3 class="chart-popup-xl-title"> {{ $context.data.name }}</h3>
          </div>
          <dl *ngIf="$context.data.land" class="land">
            <dt>Area:</dt>
            <dd>{{ $context.data?.area }}</dd>
            <dt>Density:</dt>
            <dd>{{ $context.data?.density }}</dd>
            <dt>Time Zone:</dt>
            <dd>{{ $context.data?.timeZone }}</dd>
            <dt>Bundesrat Votes:</dt>
            <dd>{{ $context.data?.bundesratVotes }}</dd>
          </dl>
          <dl *ngIf="$context.data.group">
            <ng-container *ngFor="let land of $context.data.children; let i = index">
              <dt>
                <ng-container *ngIf="i===0">Lands:</ng-container>&nbsp;
              </dt>
              <dd>{{ land.name }}</dd>
            </ng-container>
          </dl>
        </div>
      </ng-template>
    </app-chart-popup>
    <app-chart-breadcrumb
      appStopPropagation
      events="click"
      [path]="breadcrumb"
      [style]="breadcrumbStyle"
      (selectionChange)="onBreadcrumbChange($event)"
      [selection]="selection[0]"
      [format]="formatBreadcrumb">
    </app-chart-breadcrumb>
  </app-chart>
</div>
