.chart-container {
  width: 800px;
  height: 800px;
}

app-chart-breadcrumb {
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: all;
  margin-left: 10px;
}

.logo {
  width: 25px;
  height: 25px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 10px;
}

.popup {
  width: 250px;
  min-height: 150px;

  &-header {
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid rgba(145, 145, 145, 0.3);
    margin: 0 10px;
    margin-bottom: 5px;
  }

  dl {
    width: 100%;
    margin: 0 10px;
  }

  dt {
    float: left;
    min-width: 100px;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: #000;
    position: relative;
    margin-right: 0;
  }

  dd {
    float: left;
    margin-left: 5px;
    font-size: 12px;
    width: 100px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    font-weight: normal;
    color: #000;
  }

  &-title {
    font-family: "Proxima Nova";
    text-transform: uppercase;
    font-size: 12px;
    padding: 17px 16px 17px 5px;
    letter-spacing: 1.5px;
    font-weight: bold;
    width: 100%;
    margin: 0;
  }

  .land {
    dt,
    dd {
      padding-bottom: 4px;
    }
  }
}
