<div style="display: flex;">
    <div>
        <select (change)="onSeasonChange($event.target.value)">
            <option [value]="19">2018/2019</option>
            <option [value]="20">2019/2020</option>
        </select>
    </div>

    <div>
        <select (change)="onChartChange($event.target.value)">
            <option [value]="'position'">Position Day By Day</option>
            <option [value]="'points'">Points Day By Day</option>
        </select>
    </div>
</div>

<div class="buttons checkbox-btn-group checkbox-selection-group">
    <div *ngFor="let team of DATA; let i = index;" [ngClass]="format(team.club)">
        <input type="checkbox" [checked]="i === 0 ? true : false" name="radio" [value]="'button_'+(i+1)"
            [id]="'button_'+(i+1)" (click)="onClick(i)" />
        <label [for]="'button_'+(i+1)">{{team.club}}</label>
    </div>
</div>

<div class="chart-container">
    <app-chart>
        <app-chart-series *ngFor="let zone of zones; let i = index;" type="rect" [range]="range"
            [data]="[[0,39], zones[i]]" [style]="rectStyle(i)">
        </app-chart-series>
        <app-chart-series *ngFor="let team of DATA; let i = index;" type="line" [style]="getStyle(i)" [data]="data[i]"
            [range]="range">
        </app-chart-series>
        <app-chart-x-axis [range]="range?.x" [ticks]="ticksX"></app-chart-x-axis>
        <app-chart-y-axis [range]="range?.y" [ticks]="ticksY" [reverse]="reverse"></app-chart-y-axis>
        <app-chart-plot [margin]="margin"></app-chart-plot>
    </app-chart>
</div>