<div class="title">
    <h5>GERMANY POPULATION 2018</h5>
    <div class="legend">
        <div class="legend-scale">
            <ul class="legend-labels">
                @for(l of legend; track l) {
                    <li>
                        <span></span>{{l}}M
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<div style="display: flex;">
    <div class="info">
        @if(show) {
            <div style="width: 100%; display: flex;justify-content: center;">
                <div [ngClass]="getLogoBig(turbo?.properties?.name)"></div>
            </div>
            <dl>
                <dt>Name:</dt>
                <dd>{{ turbo?.properties?.name}}</dd>
                <dt>Capital:</dt>
                <dd>{{ turbo?.properties?.capital}}</dd>
                <dt>Head:</dt>
                <dd>{{ turbo?.properties?.head}}</dd>
                <dt>Area:</dt>
                <dd>{{ turbo?.properties?.area }}</dd>
                <dt>Population:</dt>
                <dd>{{ turbo?.properties?.population }}</dd>
                <dt>Density:</dt>
                <dd>{{ turbo?.properties?.density }}</dd>
                <dt>Time Zone:</dt>
                <dd>{{ turbo?.properties?.timeZone }}</dd>
                <dt>Bundesrat Votes:</dt>
                <dd>{{ turbo?.properties?.bundesratVotes }}</dd>
            </dl>
        }
        @else {
            <div style="width: 100%; display: flex;justify-content: center;">
                <div class="logo-big logo-deutschland"></div>
            </div>
            <dl>
                <dt>Country:</dt>
                <dd>Germany</dd>
                <dt>Government:</dt>
                <dd>Federal Parliamentary Republic</dd>
                <dt>President:</dt>
                <dd>Frank-Walter Steinmeier</dd>
                <dt>Chancellor:</dt>
                <dd>Angela Merkel</dd>
                <dt>Capital:</dt>
                <dd>Berlin</dd>
                <dt>Official language:</dt>
                <dd>German</dd>
                <dt>Currency:</dt>
                <dd>Euro (€) (EUR)</dd>
                <dt>Population Rank:</dt>
                <dd>19</dd>
                <dt>Density:</dt>
                <dd>240/km² (57th)</dd>
                <dt>Growth Rate:</dt>
                <dd>0.32% (176th)</dd>
                <dt>World Percentage:</dt>
                <dd>1.07%</dd>
                <dt>Land Area:</dt>
                <dd>348,560 km²</dd>
            </dl>
        }
    </div>
  <app-chart>
    <app-chart-series
      type="map"
      [style]="style"
      (onHover)="showData($event)"
      (onLeave)="show=false"></app-chart-series>
    <!-- <app-chart-popup for="map">
      <ng-template let-$context>
        <div class="popup">
          <div class="popup-header">
            <ng-container>
              <div [ngClass]="getLogo($context.properties?.name)"></div>
            </ng-container>
            <h3 class="chart-popup-title">{{ $context.properties?.name }}</h3>
          </div>
          <dl class="land">
            <dt>Area:</dt>
            <dd>{{ $context.properties?.area }}</dd>
            <dt>Density:</dt>
            <dd>{{ $context.properties?.density }}</dd>
            <dt>Time Zone:</dt>
            <dd>{{ $context.properties?.timeZone }}</dd>
            <dt>Bundesrat Votes:</dt>
            <dd>
              {{ $context.properties?.bundesratVotes }}
            </dd>
          </dl>
        </div>
      </ng-template>
    </app-chart-popup> -->
  </app-chart>
</div>
