.container {
  display: flex;
  margin: 5px 20px;
}

.chart {

  &-column {
    width: 50%;
  }

  &-container {
    display: flex;
    width: 800px;
    height: 20px;
    padding: 0px 0px 20px 0px;
    font-size: 18px;
    font-family: 'Proxima Nova Regular';
    letter-spacing: 1px;

    &:last-child {
      padding: 0px;
    }

    .title {
      width: 300px;
    }

    .chart {
      width: 500px;
    }

    .total {
      width: 50px;
      text-align: center;
      font-weight: 600;
    }
  }

  &-title {
    font-weight: 600;
    padding-bottom: 25px;
    letter-spacing: 1px;
    padding-right: 50px;
    display: flex;

    >div:first-child {
      padding-right: 50px;
    }

  }
}

.for {

  >div:nth-child(2) {
    width: 15px;
    height: 15px;
    background-color: #94c31a;
    margin-right: 20px;
  }

  >div:nth-child(3) {
    width: 15px;
    height: 15px;
    background-color: #bedb75;
    margin: 0px 20px;
  }
}

.against {

  >div:nth-child(2) {
    width: 15px;
    height: 15px;
    background-color: #f7a704;
    margin-right: 20px;
  }

  >div:nth-child(3) {
    width: 15px;
    height: 15px;
    background-color: #faca68;
    margin: 0px 20px;
  }
}

.dropdown {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  h5 {
    padding-right: 15px;
    font-size: 18px;
    margin-left: 20px;
  }
}