<!-- <div class="dropdown">
    <h5>SELECT CHART:</h5>
    <div>
        <select (change)="$event" #dropdown>
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
    </div>
</div> -->

<!-- <ng-container [ngSwitch]="dropdown.value"> -->
<div style="display: inline-flex;">
    <!-- <div style="width: 20px;padding-top:30px">
        <ng-container *ngFor="let club of (clubs$ | async)">
            <div [ngClass]="getLogo(club)"></div>
        </ng-container>
    </div> -->

    <app-chart>
        <app-chart-series type="bar-horizontal" [data]="data$ | async" [style]="style">
        </app-chart-series>
        <app-chart-x-axis [range]="[0,20]" [ticks]="[]">
        </app-chart-x-axis>
        <app-chart-y-axis [range]="[0,100]" [ticks]=[]
            [reverse]="true">
        </app-chart-y-axis>
        <app-chart-plot [margin]="{left:10,bottom: 50,right:20, top:10}">
        </app-chart-plot>
    </app-chart>
</div>
<!-- </ng-container> -->