<div class="chart-title">
  <div>ENGLISH PREMIER LEAGUE 2018/2019</div>
  <div></div>
  GOALS FOR AT HOME
  <div></div>
  GOAL FOR AWAY
  <div></div>
  GOALS AGAINST AT HOME
  <div></div>
  GOALS AGAINST AWAY
</div>

<div class="chart-container">
  <div
    class="item"
    *ngFor="let chart of data; let i=index">
    <div class="title">{{chart.club}}</div>
    <app-chart>
      <app-chart-series
        type="double-donut"
        [style]="style"
        [data]="[[chart.for.home, chart.for.away], [chart.against.home, chart.against.away]]">
      </app-chart-series>
    </app-chart>
    <div class="title">
      {{chart.for.home}} {{chart.for.away}} | {{chart.against.home}} {{chart.against.away}}
    </div>
  </div>
</div>
