:host {
  display: block;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;

  ul {
    display: flex;
    margin: 0;
    padding: 5px;
    min-height: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(145, 145, 145, 0.3);

    li {
      display: flex;
      align-items: baseline;
      cursor: pointer;
      font-size: 14px;

      span {
        cursor: initial;
      }

      &:nth-child(2) {
        margin-left: 5px;
      }
    }
  }

  button {
    font: inherit;
    background: transparent;
    border: none;
    outline: none;
    white-space: nowrap;
    color: inherit;
    text-transform: capitalize;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    max-height: 16px;
    line-height: 1;
    font-weight: 600;
  }
}

.chart-breadcrumb {
  &-icon {
    // margin: auto auto;
    width: 18px;
    height: 18px;
    background-image: url("/src/assets/breadcrumb.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
